@mixin xxs{
    @media (max-width: 320px) { @content }
}
@mixin xs{
    @media (max-width: 375px) { @content }
}
@mixin sm{
    @media (max-width: 425px){ @content }
}
@mixin md{
    @media (max-width: 768px) { @content }
}
@mixin lg{
    @media (max-width: 1024px) { @content }
}
@mixin xl{
    @media (max-width: 1199px) { @content }
}
@mixin xxl{
    @media (min-width: 1200px) { @content }
}