@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tektur:wght@400..900&display=swap");
:root {
  --transition-duration: 0.3s // Длительность перехода;
  --transition-timing-function: ease // Функция перехода;
  --Tektur: "Tektur", cursive;
  --Roboto: "Roboto", sans-serif;
  --bg: 33,32,31;
  --c-two: 4,139,194;
  --bg-r: 150, 150, 150;
  --text: 255, 255, 255;
}

:root.dark {
  --bg: 200, 200, 200;
  --bg-r: 33,32,31;
  --text: 33,32,31;
}

.breackpoint {
  position: fixed;
  top: 50px;
  border-radius: 50%;
  padding: 10px;
  font-size: 1.6rem;
  opacity: 0.01;
  transition: 0.1s ease;
  color: transparent;
  border: 1px solid #fff;
}
.breackpoint:hover {
  opacity: 1;
  color: #a00;
  background: #aa0;
  border: 1px solid #a00;
}
.breackpoint__xxs {
  display: none;
}
@media (min-width: 1200px) {
  .breackpoint__xxs {
    display: none;
  }
}
@media (max-width: 1199px) {
  .breackpoint__xxs {
    display: none;
  }
}
@media (max-width: 1024px) {
  .breackpoint__xxs {
    display: none;
  }
}
@media (max-width: 768px) {
  .breackpoint__xxs {
    display: none;
  }
}
@media (max-width: 425px) {
  .breackpoint__xxs {
    display: none;
  }
}
@media (max-width: 375px) {
  .breackpoint__xxs {
    display: none;
  }
}
@media (max-width: 320px) {
  .breackpoint__xxs {
    display: block;
  }
}
.breackpoint__xs {
  display: none;
}
@media (min-width: 1200px) {
  .breackpoint__xs {
    display: none;
  }
}
@media (max-width: 1199px) {
  .breackpoint__xs {
    display: none;
  }
}
@media (max-width: 1024px) {
  .breackpoint__xs {
    display: none;
  }
}
@media (max-width: 768px) {
  .breackpoint__xs {
    display: none;
  }
}
@media (max-width: 425px) {
  .breackpoint__xs {
    display: none;
  }
}
@media (max-width: 375px) {
  .breackpoint__xs {
    display: block;
  }
}
@media (max-width: 320px) {
  .breackpoint__xs {
    display: none;
  }
}
@media (min-width: 1200px) {
  .breackpoint__sm {
    display: none;
  }
}
@media (max-width: 1199px) {
  .breackpoint__sm {
    display: none;
  }
}
@media (max-width: 1024px) {
  .breackpoint__sm {
    display: none;
  }
}
@media (max-width: 768px) {
  .breackpoint__sm {
    display: none;
  }
}
@media (max-width: 425px) {
  .breackpoint__sm {
    display: block;
  }
}
@media (max-width: 375px) {
  .breackpoint__sm {
    display: none;
  }
}
@media (max-width: 320px) {
  .breackpoint__sm {
    display: none;
  }
}
@media (min-width: 1200px) {
  .breackpoint__md {
    display: none;
  }
}
@media (max-width: 1199px) {
  .breackpoint__md {
    display: none;
  }
}
@media (max-width: 1024px) {
  .breackpoint__md {
    display: none;
  }
}
@media (max-width: 768px) {
  .breackpoint__md {
    display: block;
  }
}
@media (max-width: 425px) {
  .breackpoint__md {
    display: none;
  }
}
@media (max-width: 375px) {
  .breackpoint__md {
    display: none;
  }
}
@media (max-width: 320px) {
  .breackpoint__md {
    display: none;
  }
}
@media (min-width: 1200px) {
  .breackpoint__lg {
    display: none;
  }
}
@media (max-width: 1199px) {
  .breackpoint__lg {
    display: none;
  }
}
@media (max-width: 1024px) {
  .breackpoint__lg {
    display: block;
  }
}
@media (max-width: 768px) {
  .breackpoint__lg {
    display: none;
  }
}
@media (max-width: 425px) {
  .breackpoint__lg {
    display: none;
  }
}
@media (max-width: 375px) {
  .breackpoint__lg {
    display: none;
  }
}
@media (max-width: 320px) {
  .breackpoint__lg {
    display: none;
  }
}
@media (min-width: 1200px) {
  .breackpoint__xl {
    display: none;
  }
}
@media (max-width: 1199px) {
  .breackpoint__xl {
    display: block;
  }
}
@media (max-width: 1024px) {
  .breackpoint__xl {
    display: none;
  }
}
@media (max-width: 768px) {
  .breackpoint__xl {
    display: none;
  }
}
@media (max-width: 425px) {
  .breackpoint__xl {
    display: none;
  }
}
@media (max-width: 375px) {
  .breackpoint__xl {
    display: none;
  }
}
@media (max-width: 320px) {
  .breackpoint__xl {
    display: none;
  }
}
@media (min-width: 1200px) {
  .breackpoint__xxl {
    display: block;
  }
}
@media (max-width: 1199px) {
  .breackpoint__xxl {
    display: none;
  }
}
@media (max-width: 1024px) {
  .breackpoint__xxl {
    display: none;
  }
}
@media (max-width: 768px) {
  .breackpoint__xxl {
    display: none;
  }
}
@media (max-width: 425px) {
  .breackpoint__xxl {
    display: none;
  }
}
@media (max-width: 375px) {
  .breackpoint__xxl {
    display: none;
  }
}
@media (max-width: 320px) {
  .breackpoint__xxl {
    display: none;
  }
}

html {
  font-size: 10px;
}
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

body {
  font-family: var(--Tektur);
  color: rgb(var(--text));
  background: rgb(var(--bg));
  transition: background 1s ease, color 1s ease;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: rgba(var(--bg-r), 0.2);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(var(--bg-r), 1);
  border-radius: 20px;
  border: 3px solid transparent;
}

.content {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .content {
    width: 1199px;
  }
}
@media (max-width: 1199px) {
  .content {
    width: 1023px;
  }
}
@media (max-width: 1024px) {
  .content {
    width: 767px;
  }
}
@media (max-width: 768px) {
  .content {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .content {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .content {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .content {
    width: 100%;
  }
}

.header {
  border-bottom: 1px solid rgb(var(--bg-r));
}
.header__top {
  background: rgb(var(--bg));
  color: rgb(var(--text));
  padding: 0 15px;
  height: 50px;
}
.header__top__scroll {
  height: 50px;
}
.header__top__wrap {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.header__top__wrap .logo {
  box-sizing: border-box;
  padding: 0 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__top__wrap .logo__title {
  margin: 0;
  font-size: 2rem;
  margin-left: 5px;
  font-weight: bold;
}
@media (max-width: 1024px) {
  .header__top__wrap .logo__title {
    display: block;
  }
}
@media (max-width: 768px) {
  .header__top__wrap .logo__title {
    display: none;
  }
}
@media (max-width: 320px) {
  .header__top__wrap .logo__title {
    display: none;
  }
}
.header__top__wrap .logo__icon {
  height: 2rem;
}
.header__top__wrap .logo__icon path {
  fill: rgb(var(--text));
}
.header__top__wrap .logo .word-wrap {
  display: inline-block;
  height: 2rem;
  width: 3rem;
}
.header__top__wrap .logo .word-wrap .word {
  font-size: 2rem;
  text-align: center;
  width: 100%;
}
@media (max-width: 320px) {
  .header__top__wrap {
    width: 100%;
  }
}
.header__social {
  width: 40%;
}
.header__social ul {
  display: inline-block;
}
.header__social ul li {
  display: inline-block;
  margin: 0 5px;
}
.header__social ul li a {
  color: rgb(var(--text));
}
@media (min-width: 1200px) {
  .header__social {
    display: none;
  }
}
@media (max-width: 1199px) {
  .header__social {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__social {
    display: block;
  }
}
.header__nav {
  flex-grow: 1;
}
.header__bottom {
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  align-items: end;
  margin-top: 10px;
  padding: 0 5%;
  box-sizing: border-box;
  overflow: hidden;
}
.header__info {
  align-self: center;
}
.header__info .title {
  font-size: 2.5rem;
}
.header__info .title.name {
  font-size: 4.5rem;
  color: rgb(var(--c-two));
}
@media (max-width: 768px) {
  .header__info .title.name {
    font-size: 1.6rem;
  }
}
@media (max-width: 375px) {
  .header__info .title.name {
    font-size: 1.2rem;
  }
}
@media (max-width: 320px) {
  .header__info .title.name {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  .header__info .title {
    font-size: 1.2rem;
  }
}
@media (max-width: 375px) {
  .header__info .title {
    font-size: 0.8rem;
  }
}
@media (max-width: 320px) {
  .header__info .title {
    font-size: 0.6rem;
  }
}
.header__info .lvl {
  font-size: 2.5rem;
}
@media (max-width: 768px) {
  .header__info .lvl {
    font-size: 1.2rem;
  }
}
@media (max-width: 425px) {
  .header__info .lvl {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .header__info .lvl {
    font-size: 0.8rem;
  }
}
.header__info .price {
  color: rgba(var(--text), 0.5);
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .header__info .price {
    font-size: 1.2rem;
  }
}
@media (max-width: 425px) {
  .header__info .price {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .header__info .price {
    font-size: 0.8rem;
  }
}

.avatar {
  filter: drop-shadow(0 0 1px rgb(var(--text)));
}
.avatar__wrap {
  width: 200px;
  height: auto;
}
@media (max-width: 768px) {
  .avatar__wrap {
    width: 150px;
  }
}
@media (max-width: 425px) {
  .avatar__wrap {
    width: 100px;
  }
}
@media (max-width: 320px) {
  .avatar__wrap {
    width: 75px;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: end;
}
.nav button {
  font-size: 1.4rem;
}
.nav ul {
  transition: 0.5s ease;
}
.nav ul li {
  padding: 0 1%;
}
.nav ul li a {
  text-align: center;
  color: rgb(var(--text));
  transition: 0.1s ease;
  font-size: 1.4rem;
}
.nav ul li a:hover {
  color: rgba(var(--text), 0.8);
  text-shadow: 0 0 1px rgb(var(--text));
}
.nav ul li.site-resume {
  padding: 0;
  display: flex;
  width: 100px;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.nav ul li.site-resume a {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 5%;
}
.nav ul li.list-info {
  display: flex;
  align-items: center;
  padding: 0;
}
.nav ul li.list-info button, .nav ul li.list-info a {
  margin: 0 5px;
}
@media (min-width: 1200px) {
  .nav ul li {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
@media (max-width: 1199px) {
  .nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
@media (max-width: 1024px) {
  .nav ul {
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    height: 100vh;
    transform: translate(150%, 0);
    z-index: 100;
    padding: 0px 5px 10px;
    background: rgb(var(--bg-r));
    border-left: 3px solid #fff;
    align-items: start;
    justify-content: start;
  }
  .nav ul li {
    padding: 5px;
  }
  .nav ul li a {
    font-size: 1.4rem;
    color: rgb(var(--bg));
  }
  .nav ul li a:hover {
    color: rgba(var(--bg), 0.8);
    text-shadow: 0 0 1px rgb(var(--bg));
  }
  .nav ul li .darkMode {
    height: 10px;
    width: 10px;
  }
  .nav ul li .darkMode .sun {
    background: radial-gradient(circle, rgba(0, 0, 0, 0), rgb(var(--bg-r)) 50%, rgb(var(--bg)) 50%);
  }
  .nav ul li .darkMode .sun::before {
    background: radial-gradient(circle, rgb(var(--bg)) 30%, rgb(var(--bg-r)) 31%, rgba(0, 0, 0, 0) 50%, rgb(var(--bg)) 50%);
  }
  .nav ul li .darkMode .moon {
    background-color: rgb(var(--text));
    box-shadow: 6px 3px 0px 0px rgb(var(--bg));
  }
  .nav ul li .darkMode .moon .star {
    border-bottom: 5px solid rgb(var(--bg));
  }
  .nav ul li .darkMode .moon .star:before {
    border-bottom: 5px solid rgb(var(--bg));
  }
  .nav ul li .darkMode .moon .star:after {
    border-bottom: 5px solid rgb(var(--bg));
  }
  .nav ul li.list-info {
    display: flex;
    align-items: center;
    height: 50px;
  }
  .nav ul li.list-info button, .nav ul li.list-info a {
    font-size: 1.4rem;
  }
}
.nav__burger {
  width: 20px;
  height: 30px;
  position: relative;
  z-index: 101;
}
.nav__burger .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 3px;
  width: 20px;
  background: rgb(var(--text));
  top: 14px;
  transition: 0.5s;
}
.nav__burger .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 20px;
  height: 3px;
  background: rgb(var(--text));
  content: "";
  top: -7px;
}
.nav__burger .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: rgb(var(--text));
  content: "";
  top: 7px;
}
.nav__burger.open .icon {
  background: rgb(var(--bg));
}
.nav__burger.open .icon:before {
  background: rgb(var(--bg));
  transform: rotateZ(-45deg) scaleX(0.6) translate(-12px, -2px);
}
.nav__burger.open .icon:after {
  background: rgb(var(--bg));
  transform: rotateZ(45deg) scaleX(0.6) translate(-12px, 2px);
}
.nav__burger.open + ul {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: content-box;
  transform: translate(0%, 0px);
}
.nav__burger.open + ul li {
  margin: 5px 2px;
}
.nav__burger.open + ul li:first-child {
  margin: 0 2px;
}
@media (min-width: 1200px) {
  .nav__burger.open + ul {
    flex-direction: row;
  }
}
@media (max-width: 1199px) {
  .nav__burger.open + ul {
    flex-direction: row;
  }
}
@media (max-width: 1024px) {
  .nav__burger.open + ul {
    flex-direction: column;
  }
}
.nav__burger:hover {
  cursor: pointer;
}
@media (min-width: 1200px) {
  .nav__burger {
    display: none;
  }
}
@media (max-width: 1199px) {
  .nav__burger {
    display: none;
  }
}
@media (max-width: 1024px) {
  .nav__burger {
    display: block;
  }
}

.darkMode {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  padding: 12px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.darkMode .sun {
  width: 50%;
  height: 50%;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.6) rotate(0deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
  /*  white transparent for Safari  */
  background: radial-gradient(circle, rgba(0, 0, 0, 0), rgb(var(--bg)) 50%, rgb(var(--text)) 50%);
}
.darkMode .sun:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(var(--text)) 30%, rgb(var(--bg)) 31%, rgba(0, 0, 0, 0) 50%, rgb(var(--text)) 50%);
  transform: rotate(45deg);
}
.darkMode .sun.visible {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1) rotate(180deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}
.darkMode .moon {
  width: 50%;
  height: 50%;
  pointer-events: none;
  position: absolute;
  left: 0%;
  top: 18.75%;
  background-color: rgb(var(--bg));
  border-radius: 50%;
  box-shadow: 6px 3px 0px 0px rgb(var(--text));
  opacity: 0;
  transform: scale(0.3) rotate(65deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}
.darkMode .moon.visible {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1) rotate(0deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}
.darkMode .moon.visible .star {
  opacity: 0.8;
}
.darkMode .moon.visible .star.small {
  opacity: 0.7;
  transform: scale(0.45) rotate(35deg);
}
.darkMode .star {
  position: absolute;
  top: 0%;
  left: -15%;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgb(var(--text));
  border-left: 7px solid rgba(0, 0, 0, 0);
  transform: scale(0.55) rotate(35deg);
  opacity: 0;
  transition: all 0.2s ease-in 0.4s;
}
.darkMode .star.small {
  transform: scale(0.35) rotate(35deg);
  position: relative;
  top: 40%;
  left: 15%;
  opacity: 0;
  transition: all 0.2s ease-in 0.45s;
}
.darkMode .star:before {
  border-bottom: 5px solid rgb(var(--text));
  border-left: 3px solid rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
  position: absolute;
  height: 0;
  width: 0;
  top: -3px;
  left: -5px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.darkMode .star:after {
  border-bottom: 5px solid rgb(var(--text));
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-left: 7px solid rgba(0, 0, 0, 0);
  position: absolute;
  display: block;
  color: red;
  top: 0px;
  left: -7px;
  width: 0px;
  height: 0px;
  transform: rotate(-70deg);
  content: "";
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  font-size: 1.4rem;
  box-sizing: border-box;
  display: block;
  background: rgba(var(--bg), 1);
  border: 1px solid rgba(var(--text), 0.6);
  border-radius: 5px;
  padding: 1% 4%;
  margin: 5px 0;
  width: 48%;
  min-height: 100px;
  box-shadow: 7px -7px 14px rgba(var(--bg), 1), -7px 7px 14px rgba(var(--text), 0.3);
  transition: 0.2s ease;
}
@media (min-width: 1200px) {
  section {
    width: 48%;
  }
}
@media (max-width: 1199px) {
  section {
    width: 48%;
  }
}
@media (max-width: 1024px) {
  section {
    width: 48%;
  }
}
@media (max-width: 768px) {
  section {
    width: 96%;
  }
}
@media (max-width: 425px) {
  section {
    width: 96%;
  }
}
@media (max-width: 375px) {
  section {
    width: 96%;
  }
}
@media (max-width: 320px) {
  section {
    width: 96%;
  }
}
section:hover {
  box-shadow: 8px -8px 14px rgba(var(--bg), 1), -8px 8px 14px rgba(var(--text), 0.3);
}
section .title {
  font-size: 2rem;
  padding: 0 0 5px 3%;
  border-bottom: 2px solid rgb(var(--c-two));
  font-family: Tektur;
  margin-bottom: 1rem;
}

.skills {
  width: 100%;
}
.skills h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.skills .line {
  border: 1px solid rgba(var(--text), 0.7);
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.skills .line__progress {
  background: rgba(var(--c-two), 0.7);
  height: 100%;
  width: 5%;
}
.skills i, .skills .icon {
  text-align: center;
  color: rgb(var(--bg));
  background: rgb(var(--text));
  padding: 2px;
  box-sizing: border-box;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2rem;
  border-radius: 50%;
  margin-right: 5px;
}
.skills .icon {
  fill: rgb(var(--bg));
  width: 2.4rem;
  height: 2.4rem;
  box-shadow: none;
  overflow: auto;
}
.skills__langs {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 5px;
}
.skills__langs ul li {
  display: inline-flex;
  align-items: center;
}
.skills__langs ul li::after {
  content: "/";
  padding: 0 2px;
}
.skills__langs ul li:last-child::after {
  content: "";
}

.portfolio {
  font-family: var(--Roboto);
  width: 98%;
}
.portfolio__content {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 31%;
  padding: 5px;
  box-sizing: border-box;
  margin: 0 1% 2%;
  border: 1px solid rgb(var(--text));
  border-radius: 5px;
  overflow: hidden;
}
.card__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__img::after {
  content: "\f030";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  inset: 0;
  color: rgba(var(--bg), 0.7);
  background: rgb(var(--bg-r));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
}
.card__img::before {
  content: "2";
  position: absolute;
  top: 0;
  right: 0;
}
.card__img__wrap {
  background: rgb(var(--bg-r));
  border: 1px solid rgb(var(--text));
  border-radius: 3px;
  overflow: hidden;
  height: 190px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.card__link {
  display: inline-block;
  color: rgb(var(--text));
  background: rgb(var(--c-two));
  padding: 1px 5px;
  border: 1px solid rgb(var(--text));
  border-radius: 3px;
  margin: 5px 0;
}
.card__link_null {
  opacity: 0.3;
}
@media (min-width: 1200px) {
  .card {
    width: 31%;
  }
}
@media (max-width: 1199px) {
  .card {
    width: 31%;
  }
}
@media (max-width: 1024px) {
  .card {
    width: 48%;
  }
}
@media (max-width: 768px) {
  .card {
    width: 98%;
  }
}
@media (max-width: 425px) {
  .card {
    width: 98%;
  }
}
@media (max-width: 375px) {
  .card {
    width: 98%;
  }
  .card__img__wrap {
    height: 300px;
  }
}

.about {
  font-family: var(--Roboto);
}
.about li::before {
  content: "◈";
  padding: 0 5px 0 10px;
  color: rgba(var(--c-two), 0.5);
}
.about h3 {
  color: rgb(var(--c-two));
  text-shadow: 0px 0px 5px rgb(var(--bg)), 1px 1px 2px rgba(var(--text), 0.5);
  text-transform: capitalize;
  font-weight: bold;
}

.contacts {
  font-family: var(--Roboto);
  width: 100%;
}
.contacts li {
  margin: 5px 0;
  width: 100%;
}
.contacts li > button {
  display: none;
  transition: 0.1s ease;
  background: transparent;
}
.contacts li a {
  color: rgb(var(--text));
  transition: 0.1s ease;
}
.contacts li a > i {
  margin-right: 5px;
}
.contacts li:hover {
  color: rgba(var(--text), 0.7);
}
.contacts li:hover > button {
  display: inline-block;
}
.contacts i {
  text-align: center;
  color: rgb(var(--bg));
  background: rgb(var(--text));
  padding: 2px;
  box-sizing: border-box;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2rem;
  border-radius: 50%;
}

.education {
  font-family: var(--Roboto);
}
.education__item {
  margin-top: 1%;
}
.education__title {
  border-bottom: 1px solid rgb(var(--c-two));
  padding: 0;
  margin: 0;
}
.education__context {
  padding: 1%;
  display: flex;
  justify-content: space-between;
}
.education__text {
  width: 70%;
  box-sizing: border-box;
}
.education__document {
  width: 30%;
}

.section__wrap {
  box-sizing: border-box;
  width: 48%;
  margin: 0;
  padding: 1px;
  transition: 0.2s ease;
}
@media (min-width: 1200px) {
  .section__wrap {
    width: 48%;
  }
}
@media (max-width: 1199px) {
  .section__wrap {
    width: 48%;
  }
}
@media (max-width: 1024px) {
  .section__wrap {
    width: 48%;
  }
}
@media (max-width: 768px) {
  .section__wrap {
    width: 96%;
  }
}
@media (max-width: 425px) {
  .section__wrap {
    width: 96%;
  }
}
@media (max-width: 375px) {
  .section__wrap {
    width: 96%;
  }
}
@media (max-width: 320px) {
  .section__wrap {
    width: 96%;
  }
}

.modal {
  background: rgba(var(--bg-r), 0.3);
  position: fixed;
  inset: 0;
  z-index: 1200;
  display: none;
}
.modal_active {
  display: block;
}
.modal__close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 2rem;
  z-index: 101;
}
.modal__content {
  position: absolute;
  inset: 2rem;
  background: rgb(var(--bg));
  border-radius: 5px;
}
.modal__row {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
  padding: 3rem;
  box-sizing: border-box;
}
.modal__col {
  flex-grow: 1;
}
.modal__img {
  position: relative;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal__img::after {
  content: "\f030";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  inset: 0;
  color: rgba(var(--bg), 0.7);
  background: rgb(var(--bg-r));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7rem;
}
.modal__img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
}
.modal__title {
  color: rgb(var(--c-two));
  text-shadow: 1px 1px 1px rgba(var(--text), 0.2);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--Tektur);
  flex-grow: 1;
}
.modal__left {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}
.modal__left iframe {
  height: 100%;
  width: 100%;
}
.modal__right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 40%;
  padding: 10px;
  overflow: auto;
}
.modal__right::-webkit-scrollbar {
  width: 5px;
}
.modal__right::-webkit-scrollbar-track {
  background: rgba(var(--bg-r), 0.2);
}
.modal__right::-webkit-scrollbar-thumb {
  background-color: rgba(var(--bg-r), 1);
  border-radius: 20px;
  border: 3px solid transparent;
}
.modal__right-header {
  display: flex;
  align-items: center;
}
.modal__link {
  background: rgb(var(--c-two));
  color: rgb(var(--text));
  padding: 5px 10px;
  box-sizing: border-box;
  transition: 0.2s ease;
  border-radius: 2px;
  border: 1px solid rgb(var(--text));
  overflow: hidden;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.modal__link:hover {
  background: rgba(var(--c-two), 0.6);
}
.modal__link_disabled {
  background: rgba(var(--text), 0.3);
}
.modal__link_disabled:hover {
  background: rgba(var(--text), 0.5);
  color: rgba(var(--bg), 0.5);
  cursor: not-allowed;
}
.modal__text {
  flex-grow: 4;
  margin: 10px 0;
}
.modal__skill {
  flex-grow: 1;
  margin: 10px 0;
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header-fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid rgb(var(--text));
  animation: 0.5s header forwards;
  transition: 1s ease;
}

@keyframes header {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
.footer {
  height: 100px;
}
.footer__author {
  padding-top: 5%;
}
.footer__author a {
  color: rgb(var(--c-two));
}/*# sourceMappingURL=style_portfolio.css.map */