@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap");
:root {
  --transition-duration: 0.3s // Длительность перехода;
  --transition-timing-function: ease // Функция перехода;
  --bg: 33,32,31;
  --bg-r: 200, 200, 200;
  --text: 255, 255, 255;
}

:root.dark {
  --bg: 200, 200, 200;
  --bg-r: 33,32,31;
  --text: 33,32,31;
}

.breackpoint {
  position: absolute;
  color: #a00;
  background: #aa0;
  border: 1px solid #a00;
  border-radius: 50%;
  padding: 10px;
  font-size: 1.6rem;
  opacity: 0.3;
  transition: 0.1s ease;
}
.breackpoint:hover {
  opacity: 1;
}
.breackpoint__xxs {
  display: none;
}
@media (min-width: 1400px) {
  .breackpoint__xxs {
    display: none;
  }
}
@media (max-width: 1199px) {
  .breackpoint__xxs {
    display: none;
  }
}
@media (max-width: 1024px) {
  .breackpoint__xxs {
    display: none;
  }
}
@media (max-width: 768px) {
  .breackpoint__xxs {
    display: none;
  }
}
@media (max-width: 425px) {
  .breackpoint__xxs {
    display: none;
  }
}
@media (max-width: 375px) {
  .breackpoint__xxs {
    display: none;
  }
}
@media (max-width: 320px) {
  .breackpoint__xxs {
    display: block;
  }
}
.breackpoint__xs {
  display: none;
}
@media (min-width: 1400px) {
  .breackpoint__xs {
    display: none;
  }
}
@media (max-width: 1199px) {
  .breackpoint__xs {
    display: none;
  }
}
@media (max-width: 1024px) {
  .breackpoint__xs {
    display: none;
  }
}
@media (max-width: 768px) {
  .breackpoint__xs {
    display: none;
  }
}
@media (max-width: 425px) {
  .breackpoint__xs {
    display: none;
  }
}
@media (max-width: 375px) {
  .breackpoint__xs {
    display: block;
  }
}
@media (max-width: 320px) {
  .breackpoint__xs {
    display: none;
  }
}
@media (min-width: 1400px) {
  .breackpoint__sm {
    display: none;
  }
}
@media (max-width: 1199px) {
  .breackpoint__sm {
    display: none;
  }
}
@media (max-width: 1024px) {
  .breackpoint__sm {
    display: none;
  }
}
@media (max-width: 768px) {
  .breackpoint__sm {
    display: none;
  }
}
@media (max-width: 425px) {
  .breackpoint__sm {
    display: block;
  }
}
@media (max-width: 375px) {
  .breackpoint__sm {
    display: none;
  }
}
@media (max-width: 320px) {
  .breackpoint__sm {
    display: none;
  }
}
@media (min-width: 1400px) {
  .breackpoint__md {
    display: none;
  }
}
@media (max-width: 1199px) {
  .breackpoint__md {
    display: none;
  }
}
@media (max-width: 1024px) {
  .breackpoint__md {
    display: none;
  }
}
@media (max-width: 768px) {
  .breackpoint__md {
    display: block;
  }
}
@media (max-width: 425px) {
  .breackpoint__md {
    display: none;
  }
}
@media (max-width: 375px) {
  .breackpoint__md {
    display: none;
  }
}
@media (max-width: 320px) {
  .breackpoint__md {
    display: none;
  }
}
@media (min-width: 1400px) {
  .breackpoint__lg {
    display: none;
  }
}
@media (max-width: 1199px) {
  .breackpoint__lg {
    display: none;
  }
}
@media (max-width: 1024px) {
  .breackpoint__lg {
    display: block;
  }
}
@media (max-width: 768px) {
  .breackpoint__lg {
    display: none;
  }
}
@media (max-width: 425px) {
  .breackpoint__lg {
    display: none;
  }
}
@media (max-width: 375px) {
  .breackpoint__lg {
    display: none;
  }
}
@media (max-width: 320px) {
  .breackpoint__lg {
    display: none;
  }
}
@media (min-width: 1400px) {
  .breackpoint__xl {
    display: none;
  }
}
@media (max-width: 1199px) {
  .breackpoint__xl {
    display: block;
  }
}
@media (max-width: 1024px) {
  .breackpoint__xl {
    display: none;
  }
}
@media (max-width: 768px) {
  .breackpoint__xl {
    display: none;
  }
}
@media (max-width: 425px) {
  .breackpoint__xl {
    display: none;
  }
}
@media (max-width: 375px) {
  .breackpoint__xl {
    display: none;
  }
}
@media (max-width: 320px) {
  .breackpoint__xl {
    display: none;
  }
}
@media (min-width: 1400px) {
  .breackpoint__xxl {
    display: block;
  }
}
@media (max-width: 1199px) {
  .breackpoint__xxl {
    display: none;
  }
}
@media (max-width: 1024px) {
  .breackpoint__xxl {
    display: none;
  }
}
@media (max-width: 768px) {
  .breackpoint__xxl {
    display: none;
  }
}
@media (max-width: 425px) {
  .breackpoint__xxl {
    display: none;
  }
}
@media (max-width: 375px) {
  .breackpoint__xxl {
    display: none;
  }
}
@media (max-width: 320px) {
  .breackpoint__xxl {
    display: none;
  }
}

html {
  font-size: 10px;
}

body {
  font-family: "Tektur", cursive;
  color: rgb(var(--text));
  background: rgb(var(--bg));
  transition: background 1s ease, color 1s ease;
}

.content {
  margin: 0 auto;
}
@media (min-width: 1400px) {
  .content {
    width: 1300px;
  }
}
@media (max-width: 1199px) {
  .content {
    width: 1100px;
  }
}
@media (max-width: 1024px) {
  .content {
    width: 980px;
  }
}
@media (max-width: 768px) {
  .content {
    width: 720px;
  }
}

@media (max-width: 320px) {
  .header__nav {
    display: none;
  }
}
.header__top {
  background: rgb(var(--bg));
  color: rgb(var(--text));
  border-bottom: 1px solid rgb(var(--bg-r));
  height: 50px;
}
.header__top__wrap {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.header__top__wrap .logo__wrap {
  box-sizing: border-box;
  padding: 0 1%;
  width: 45%;
}
.header__top__wrap .logo__wrap h1 {
  margin: 0;
  font-size: 2rem;
}
.header__top__wrap nav {
  width: 45%;
}
.header__top__wrap nav button {
  font-size: 1.4rem;
}
.header__top__wrap nav ul {
  display: flex;
  align-items: center;
}
.header__top__wrap nav ul li {
  padding: 0 1%;
}
.header__top__wrap nav ul li a {
  text-align: center;
  color: rgb(var(--text));
  transition: 0.1s ease;
  font-size: 1.4rem;
}
.header__top__wrap nav ul li a:hover {
  color: rgba(var(--text), 0.8);
  text-shadow: 0 0 1px rgb(var(--text));
}

.avatar {
  height: 100%;
}
.avatar__wrap {
  height: 50px;
}

.darkMode {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  padding: 12px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sun {
  width: 50%;
  height: 50%;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.6) rotate(0deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
  /*  white transparent for Safari  */
  background: radial-gradient(circle, rgba(0, 0, 0, 0), rgb(var(--bg)) 50%, rgb(var(--text)) 50%);
}
.sun:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(var(--text)) 30%, rgb(var(--bg)) 31%, rgba(0, 0, 0, 0) 50%, rgb(var(--text)) 50%);
  transform: rotate(45deg);
}
.sun.visible {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1) rotate(180deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.moon {
  width: 50%;
  height: 50%;
  pointer-events: none;
  position: absolute;
  left: 0%;
  top: 18.75%;
  background-color: rgb(var(--bg));
  border-radius: 50%;
  box-shadow: 6px 3px 0px 0px rgb(var(--text));
  opacity: 0;
  transform: scale(0.3) rotate(65deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}
.moon.visible {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1) rotate(0deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}
.moon.visible .star {
  opacity: 0.8;
}
.moon.visible .star.small {
  opacity: 0.7;
  transform: scale(0.45) rotate(35deg);
}

.star {
  position: absolute;
  top: 0%;
  left: -15%;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgb(var(--text));
  border-left: 7px solid rgba(0, 0, 0, 0);
  transform: scale(0.55) rotate(35deg);
  opacity: 0;
  transition: all 0.2s ease-in 0.4s;
}
.star.small {
  transform: scale(0.35) rotate(35deg);
  position: relative;
  top: 40%;
  left: 15%;
  opacity: 0;
  transition: all 0.2s ease-in 0.45s;
}
.star:before {
  border-bottom: 5px solid rgb(var(--text));
  border-left: 3px solid rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
  position: absolute;
  height: 0;
  width: 0;
  top: -3px;
  left: -5px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
.star:after {
  position: absolute;
  display: block;
  color: red;
  top: 0px;
  left: -7px;
  width: 0px;
  height: 0px;
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid rgb(var(--text));
  border-left: 7px solid rgba(0, 0, 0, 0);
  transform: rotate(-70deg);
  content: "";
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  font-size: 1.4rem;
  box-sizing: border-box;
  display: block;
  background: rgba(var(--bg), 1);
  border: 1px solid rgba(var(--text), 0.6);
  border-radius: 5px;
  padding: 1% 4%;
  margin: 5px 0;
  width: 48%;
  min-height: 100px;
  box-shadow: 7px -7px 14px rgba(var(--bg), 1), -7px 7px 14px rgba(var(--text), 0.3);
  transition: 0.2s ease;
}
@media (max-width: 320px) {
  section {
    width: 96%;
  }
}
section:hover {
  transform: scale(1.05);
}
section .title {
  font-size: 2rem;
  padding: 0 0 5px 3%;
  border-bottom: 2px solid #a00;
  margin-bottom: 1rem;
}

.skills {
  width: 100%;
}
.skills h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.skills .line {
  border: 1px solid rgba(var(--text), 0.7);
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.skills .line__progress {
  background: #e65f5f;
  height: 100%;
  width: 5%;
}
.skills i {
  text-align: center;
  color: rgb(var(--bg));
  background: rgb(var(--text));
  padding: 2px;
  box-sizing: border-box;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2rem;
  border-radius: 50%;
}

.portfolio {
  width: 98%;
}

.contacts {
  width: 100%;
}
.contacts li {
  margin: 5px 0;
  width: 100%;
}
.contacts i {
  text-align: center;
  color: rgb(var(--bg));
  background: rgb(var(--text));
  padding: 2px;
  box-sizing: border-box;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2rem;
  border-radius: 50%;
}

.section__wrap {
  box-sizing: border-box;
  width: 48%;
  margin: 0;
  padding: 1px;
  width: 96%;
}/*# sourceMappingURL=style_portfolio.css.map */