@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tektur:wght@400..900&display=swap')
@import "mixin.scss"

:root // Светлая тема
    --transition-duration: 0.3s // Длительность перехода
    --transition-timing-function: ease // Функция перехода
    --Tektur: 'Tektur', cursive
    --Roboto: 'Roboto', sans-serif
    --bg: 33,32,31
    --c-two: 4,139,194
    --bg-r: 150, 150, 150
    --text: 255, 255, 255
:root.dark
        --bg: 200, 200, 200
        --bg-r: 33,32,31
        --text: 33,32,31
.breackpoint
    position: fixed
    top: 50px
    border-radius: 50%
    padding: 10px
    font-size: 1.6rem
    opacity: 0.01
    transition: 0.1s ease
    color: transparent
    border: 1px solid #fff
    &:hover
        opacity: 1
        color: #a00
        background: #aa0
        border: 1px solid #a00
    &__xxs
        display: none
        @include xxl
            display: none
        @include xl
            display: none
        @include lg
            display: none
        @include md
            display: none
        @include sm
            display: none
        @include xs
            display: none
        @include xxs
            display: block
    &__xs
        display: none
        @include xxl
            display: none
        @include xl
            display: none
        @include lg
            display: none
        @include md
            display: none
        @include sm
            display: none
        @include xs
            display: block 
        @include xxs
            display: none 
    &__sm
        @include xxl
            display: none
        @include xl
            display: none
        @include lg
            display: none
        @include md
            display: none
        @include sm
            display: block
        @include xs
            display: none
        @include xxs
            display: none 
    &__md
        @include xxl
            display: none
        @include xl
            display: none
        @include lg
            display: none
        @include md
            display: block
        @include sm
            display: none
        @include xs
            display: none
        @include xxs
            display: none 
    &__lg
        @include xxl
            display: none
        @include xl
            display: none
        @include lg
            display: block
        @include md
            display: none
        @include sm
            display: none
        @include xs
            display: none 
        @include xxs
            display: none 
    &__xl
        @include xxl
            display: none
        @include xl
            display: block
        @include lg
            display: none
        @include md
            display: none
        @include sm
            display: none
        @include xs
            display: none
        @include xxs
            display: none 
    &__xxl
        @include xxl
            display: block
        @include xl
            display: none
        @include lg
            display: none
        @include md
            display: none
        @include sm
            display: none
        @include xs
            display: none
        @include xxs
            display: none  
html
    font-size: 10px
    @include md
        font-size: 10px
body
    font-family: var(--Tektur)

    &::-webkit-scrollbar 
        width: 5px               

    &::-webkit-scrollbar-track // дорожка
        background: rgba(var(--bg-r), .2)

    &::-webkit-scrollbar-thumb // полоска
        background-color: rgba(var(--bg-r), 1)   
        border-radius: 20px      
        border: 3px solid transparent 



    color: rgb(var(--text))
    background: rgb(var(--bg)) 

    transition: background 1s ease, color  1s ease
.content
    margin: 0 auto

    @include xxl
        width: 1199px
    @include xl
        width: 1023px   
    @include lg
        width: 767px
    @include md
        width: 100%
    @include sm
        width: 100%
    @include xs
        width: 100%
    @include xxs
        width: 100%
.header
    border-bottom: 1px solid rgb(var(--bg-r))
    &__top
        background: rgb(var(--bg))
        color: rgb(var(--text))
        padding: 0 15px
        height: 50px
        &__scroll
            height: 50px
        &__wrap
            display: flex
            height: 100%
            align-items: center
            justify-content: space-between
            & .logo
                box-sizing: border-box
                padding: 0 1%
                // width: 45%
                display: flex
                align-items: center
                justify-content: center

                &__title
                    margin: 0
                    font-size: 2rem
                    margin-left: 5px
                    font-weight: bold
                    @include lg
                        display: block
                    @include md
                        display: none
                    @include xxs
                        display: none    
                &__icon
                    // display: none
                    height: 2rem
                    & path
                        fill: rgb(var(--text))
                & .word-wrap
                    display: inline-block
                    height: 2rem
                    width: 3rem
                    & .word
                        font-size: 2rem
                        text-align: center
                        width: 100%

            @include xxs
                width: 100%
    &__social
        width: 40%
        & ul
            display: inline-block
            & li
                display: inline-block
                margin: 0 5px
                & a
                    color: rgb(var(--text))
        @include xxl
            display: none     
        @include xl
            display: none
        @include md
            display: block
    &__nav
        // width: 40%
        flex-grow: 1
    &__bottom
        display: flex
        font-size: 2rem
        justify-content: space-around
        align-items: end
        margin-top: 10px
        padding: 0 5%
        box-sizing: border-box
        overflow: hidden
    
    &__info
        align-self: center
        & .title
            font-size: 2.5rem
            &.name
                font-size: 4.5rem
                color: rgb(var(--c-two))
                @include md
                    font-size: 1.6rem
                @include xs
                    font-size: 1.2rem
                @include xxs
                    font-size: 1rem
            @include md
                font-size: 1.2rem
            @include xs
                font-size: 0.8rem
            @include xxs
                font-size: 0.6rem
            
        & .lvl
            font-size: 2.5rem
            @include md
                font-size: 1.2rem
            @include sm
                font-size: 1rem
            @include xxs
                font-size: 0.8rem            
        & .price
            color: rgba(var(--text), .5)
            font-size: 1.6rem
            @include md
                font-size: 1.2rem
            @include sm
                font-size: 1rem
            @include xxs
                font-size: 0.8rem
.avatar
    filter: drop-shadow(0 0 1px rgb(var(--text)))
    &__wrap
        width: 200px
        height: auto
        @include md
            width: 150px
        @include sm
            width: 100px
        @include xxs
            width: 75px
.nav
    // position: relative

    width: 100%
    display: flex
    justify-content: end
    & button
        font-size: 1.4rem 
    & ul
        transition: 0.5s ease
        & li
            padding: 0 1%
            & a
                text-align: center
                color: rgb(var(--text))
                transition: 0.1s ease
                font-size: 1.4rem
                &:hover
                    color: rgba(var(--text), .8) 
                    text-shadow: 0 0 1px rgb(var(--text))
            &.list-info
                display: flex
                align-items: center
                padding: 0
                & button,
                & a
                    margin: 0 10px
                    font-size: 2.1rem
            @include xxl
                display: inline-block
        @include xxl 
            width: 100%
            display: flex
            align-items: center
            justify-content: end
        @include xl
            width: 100%
            display: flex
            align-items: center
            justify-content: end
        @include lg
            position: fixed
            top: 0
            right: 0
            width: 150px
            height: 100vh
            transform: translate(150%, 0)
            z-index: 100
            padding: 0px 5px 10px
            background: rgb(var(--bg-r))
            border-left: 3px solid #fff
            align-items: start
            justify-content: start
            & li
                padding: 5px
                & a
                    font-size: 1.4rem
                    color: rgb(var(--bg))
                    &:hover
                        color: rgba(var(--bg), .8)
                        text-shadow: 0 0 1px rgb(var(--bg))
                    
                & .darkMode
                    height: 10px
                    width: 10px
                    & .sun
                        background: radial-gradient(circle, rgba(0, 0, 0, 0), rgb(var(--bg-r)) 50%, rgb(var(--bg)) 50%)
                        &::before
                            background: radial-gradient(circle, rgb(var(--bg)) 30%, rgb(var(--bg-r)) 31%, rgba(0, 0, 0, 0) 50%, rgb(var(--bg)) 50%)
                    & .moon
                        background-color: rgb(var(--text))
                        box-shadow: 6px 3px 0px 0px rgb(var(--bg))
                        & .star
                            border-bottom: 5px solid rgb(var(--bg))
                            &:before
                                border-bottom: 5px solid  rgb(var(--bg))
                            &:after
                                border-bottom: 5px solid rgb(var(--bg))
                &.list-info
                    display: flex
                    align-items: center
                    height: 50px
                
                    & button,
                    & a
                        font-size: 1.4rem

    &__burger
        width: 20px
        height: 30px
        position: relative
        z-index: 101
        & .icon
            transition-duration: 0.5s
            position: absolute
            height: 3px
            width: 20px
            background: rgb(var(--text))
            top: 14px
            transition: 0.5s
            &:before
                transition-duration: 0.5s
                position: absolute
                width: 20px
                height: 3px
                background: rgb(var(--text))
                content: ""
                top: -7px
            &:after
                transition-duration: 0.5s
                position: absolute
                width: 20px
                height: 3px
                background-color: rgb(var(--text))
                content: ""
                top: 7px
        &.open 
            .icon
                background: rgb(var(--bg))
                &:before
                    background: rgb(var(--bg))
                    transform: rotateZ(-45deg) scaleX(0.6) translate(-12px,-2px)
                &:after
                    background: rgb(var(--bg))
                    transform: rotateZ(45deg) scaleX(0.6) translate(-12px, 2px)
            & + ul
                display: flex
                position: absolute
                top: 0
                right: 0
                box-sizing: content-box
                transform: translate(0%, 0px)
                & li
                    margin: 5px 2px
                    &:first-child
                        margin: 0 2px
                @include xxl
                    flex-direction: row
                @include xl
                    flex-direction: row
                @include lg
                    flex-direction: column
        &:hover 
            cursor: pointer
       
        @include xxl
           display: none 
        @include xl
            display: none
        @include lg
            display: block 
.darkMode
    width: 30px
    height: 30px
    box-sizing: border-box
    padding: 12px
    background: none
    border: none
    display: flex
    justify-content: center
    align-items: center
    position: relative
    & .sun 
        width: 50%
        height: 50%
        position: absolute
        pointer-events: none
        opacity: 0
        transform: scale(0.6) rotate(0deg)
        transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s

        /*  white transparent for Safari  */
        background: radial-gradient(circle, rgba(0, 0, 0, 0), rgb(var(--bg)) 50%, rgb(var(--text)) 50%)


        &:before 
            content: ""
            position: absolute
            display: block
            width: 100%
            height: 100%
            background: radial-gradient(circle, rgb(var(--text)) 30%, rgb(var(--bg)) 31%, rgba(0, 0, 0, 0) 50%, rgb(var(--text)) 50%)
            transform: rotate(45deg)


        &.visible
            pointer-events: auto
            opacity: 1
            transform: scale(1) rotate(180deg)
            transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s
    & .moon
        width: 50%
        height: 50%
        pointer-events: none
        position: absolute
        left: 0%
        top: 18.75%
        background-color: rgb(var(--bg))
        border-radius: 50%
        box-shadow: 6px 3px 0px 0px rgb(var(--text))
        opacity: 0
        transform: scale(0.3) rotate(65deg)
        transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s


        &.visible
            pointer-events: auto
            opacity: 1
            transform: scale(1) rotate(0deg)
            transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s
            & .star
                opacity: 0.8
            & .star.small
                opacity: 0.7
                transform: scale(0.45) rotate(35deg)
    & .star
        position: absolute
        top: 0%
        left: -15%
        display: block
        width: 0px
        height: 0px
        border-right: 7px solid rgba(0, 0, 0, 0)
        border-bottom: 5px solid rgb(var(--text))
        border-left: 7px solid rgba(0, 0, 0, 0)
        transform: scale(0.55) rotate(35deg)
        opacity: 0
        transition: all 0.2s ease-in 0.4s
        &.small 
            transform: scale(0.35) rotate(35deg)
            position: relative
            top: 40%
            left: 15%
            opacity: 0
            transition: all 0.2s ease-in 0.45s

        &:before
            border-bottom: 5px solid  rgb(var(--text))
            border-left: 3px solid rgba(0,0,0,0)
            border-right: 3px solid rgba(0,0,0,0)
            position: absolute
            height: 0
            width: 0
            top: -3px
            left: -5px
            display: block
            content: ""
            transform: rotate(-35deg)
        &:after
            border-bottom: 5px solid rgb(var(--text))
            border-right: 7px solid rgba(0,0,0,0)
            border-left: 7px solid  rgba(0,0,0,0)
            position: absolute
            display: block
            color: red
            top: 0px
            left: -7px
            width: 0px
            height: 0px
            transform: rotate(-70deg)
            content: ""
.main
    display: flex
    flex-wrap: wrap
    justify-content: space-around
section
    font-size: 1.4rem
    box-sizing: border-box
    display: block
    background: rgba(var(--bg), 1)
    border: 1px solid rgba(var(--text), .6)
    border-radius: 5px
    padding: 1% 4%
    margin: 5px 0
    width: 48%
    min-height: 100px 
    box-shadow: 7px -7px 14px rgba(var(--bg), 1), -7px 7px 14px rgba(var(--text), .3)
    transition: 0.2s ease
    @include xxl
        width: 48%
    @include xl
        width: 48%
    @include lg
        width: 48%
    @include md
        width: 96%
    @include sm
        width: 96%
    @include xs
        width: 96%
    @include xxs
        width: 96%
    &:hover
        box-shadow: 8px -8px 14px rgba(var(--bg), 1), -8px 8px 14px rgba(var(--text), .3)
    & .title
        font-size: 2rem
        padding: 0 0 5px 3% 
        border-bottom: 2px solid rgb(var(--c-two))
        font-family: Tektur
        margin-bottom: 1rem
.skills
    width: 100%
    & h4
        font-size: 1.4rem
        text-transform: uppercase
    & .line
        border: 1px solid rgba(var(--text), .7)
        height: 10px
        border-radius: 5px
        overflow: hidden
        &__progress
            background: rgba(var(--c-two), .7)
            height: 100%
            width: 5%
    & i,
    & .icon
        text-align: center
        color: rgb(var(--bg))
        background: rgb(var(--text))
        padding: 2px
        box-sizing: border-box
        display: inline-block
        width: 2.4rem
        height: 2.4rem
        line-height: 2rem
        border-radius: 50%
        margin-right: 5px
    & .icon
        fill: rgb(var(--bg))
        width: 2.4rem
        height: 2.4rem
        box-shadow: none
        overflow: auto
    &__langs
        display: flex
        justify-content: space-between
        margin: 10px 0 5px
        & ul
            & li
                display: inline-flex
                align-items: center
                &::after
                    content: '/'
                    padding: 0 2px
                &:last-child
                    &::after
                        content: ''
.portfolio
    font-family: var(--Roboto)
    width: 98%
    &__content
        display: flex
        flex-wrap: wrap
.card
    width: 31%
    padding: 5px
    box-sizing: border-box
    margin: 0 1% 2%
    border: 1px solid rgb(var(--text))
    border-radius: 5px
    overflow: hidden
    &__img
        height: 100%
        width: 100%
        object-fit: cover
        &::after
            content: '\f030'
            font-family: 'Font Awesome 6 Free'
            font-weight: 900
            position: absolute
            inset: 0
            color: rgba(var(--bg), .7)
            background: rgb(var(--bg-r))
            display: flex
            align-items: center
            justify-content: center
            font-size: 7rem
        &::before
            content: '2'
            position: absolute
            top: 0
            right: 0
        &__wrap
            background: rgb(var(--bg-r))
            border: 1px solid rgb(var(--text))
            border-radius: 3px
            overflow: hidden
            height: 190px
            width: 100%
            object-fit: cover
            position: relative
    &__link
        display: inline-block
        color: rgb(var(--text))
        background: rgb(var(--c-two))
        padding: 1px 5px
        border: 1px solid rgb(var(--text))
        border-radius: 3px
        margin: 5px 0
        &_null
            opacity: 0.3
    @include xxl
        width: 31%
    @include xl
        width: 31%
    @include lg
        width: 48%
    @include md
        width: 98%
    @include sm
        width: 98%
    @include xs
        width: 98%
        &__img__wrap
            height: 300px
    
.about
    font-family: var(--Roboto)
    & li
        &::before
            content: '\25C8'
            padding: 0 5px 0 10px
            color: rgba(var(--c-two) , .5)
    & h3
        color: rgb(var(--c-two))
        text-shadow:0px 0px 5px rgb(var(--bg)), 1px 1px 2px rgba(var(--text), .5) 
        text-transform: capitalize
        font-weight: bold
.contacts
    font-family: var(--Roboto)
    width: 100%
    & li
        margin: 5px 0
        width: 100%
        & > button
            display: none
            transition: 0.1s ease
            background: transparent
        & a
            color: rgb(var(--text))
            transition: 0.1s ease
            & > i
                margin-right: 5px
        &:hover
            color: rgba(var(--text), .7)
            & > button
                display: inline-block
    & i
        text-align: center
        color: rgb(var(--bg))
        background: rgb(var(--text))
        padding: 2px
        box-sizing: border-box
        display: inline-block
        width: 2.4rem
        height: 2.4rem
        line-height: 2rem
        border-radius: 50%

.education
    font-family: var(--Roboto)
    &__item
        margin-top: 1%
        // border: 1px solid #a00
    &__title
        border-bottom: 1px solid rgb(var(--c-two))
        padding: 0
        margin: 0
    &__context
        padding: 1%
        display: flex 
        justify-content: space-between
    &__text
        width: 70%
        box-sizing: border-box
    &__document
        width: 30%
.section__wrap
    box-sizing: border-box
    width: 48%
    margin: 0
    padding: 1px
    transition: 0.2s ease
    @include xxl
        width: 48%
    @include xl
        width: 48%
    @include lg
        width: 48%
    @include md
        width: 96%
    @include sm
        width: 96%
    @include xs
        width: 96%
    @include xxs
        width: 96%

.modal
    background: rgba(var(--bg-r), .3)
    position: fixed
    inset: 0
    z-index: 1200
    display: none
    &_active
        display: block
    &__close
        position: absolute
        top: 5px
        right: 10px
        font-size: 2rem
        z-index: 101
    &__content
        position: absolute
        inset: 2rem
        background: rgb(var(--bg))
        border-radius: 5px
    &__row
        display: flex
        flex-wrap: nowrap
        height: 100%
        align-items: center
        padding: 3rem
        box-sizing: border-box
        // @include 
    &__col
        flex-grow: 1
    &__img
        position: relative
        height: 100%
        width: 100%
        object-fit: cover
        &::after
            content: '\f030'
            font-family: 'Font Awesome 6 Free'
            font-weight: 900
            position: absolute
            inset: 0
            color: rgba(var(--bg), .7)
            background: rgb(var(--bg-r))
            display: flex
            align-items: center
            justify-content: center
            font-size: 7rem
        &::before
            content: ''
            position: absolute
            top: 0
            right: 0
    &__title
        color: rgb(var(--c-two))
        text-shadow: 1px 1px 1px rgba(var(--text), .2)
        text-align: center
        text-transform: uppercase
        font-weight: bold
        font-family: var(--Tektur)
        flex-grow: 1
    &__left
        display: flex
        flex-direction: column
        padding: 10px 
        box-sizing: border-box
        width: 60%
        height: 100%
        & iframe
            height: 100%
            width: 100%
    &__right
        // background: #0a0
        display: flex
        justify-content: space-between
        flex-direction: column
        height: 100%
        width: 40%
        padding: 10px
        overflow: auto
        &::-webkit-scrollbar 
            width: 5px
        &::-webkit-scrollbar-track // дорожка
            background: rgba(var(--bg-r), .2)

        &::-webkit-scrollbar-thumb // полоска
            background-color: rgba(var(--bg-r), 1)   
            border-radius: 20px      
            border: 3px solid transparent 
        &-header
            display: flex
            align-items: center
    &__link
        background: rgb(var(--c-two))
        color: rgb(var(--text))
        padding: 5px 10px
        box-sizing: border-box
        transition: 0.2s ease
        border-radius: 2px
        border: 1px solid rgb(var(--text))
        overflow: hidden
        text-align: center
        user-select: none
        &:hover
            background: rgba(var(--c-two) , .6)
        &_disabled
            background: rgba(var(--text), .3)
            &:hover
                background: rgba(var(--text), .5)
                color: rgba(var(--bg), .5)
                cursor: not-allowed
    &__text
        flex-grow: 4
        margin: 10px 0
    &__skill
        flex-grow: 1
        margin: 10px 0


@keyframes anim 
    0%
        opacity: 0
    20%
        opacity: 1
    80%
        opacity: 1
    100%
        opacity: 0

.header-fixed
    position: fixed
    right: 0
    left: 0
    top: 0
    z-index: 100
    border-bottom: 1px solid rgb(var(--text))
    animation: 0.5s header forwards
    transition: 1s ease
@keyframes header
    0%
        top: -100%
    100%
        top: 0
