@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tektur:wght@400..900&display=swap')
@import "mixin.scss"

:root // Светлая тема
    --transition-duration: 0.3s // Длительность перехода
    --transition-timing-function: ease // Функция перехода

    --bg: 33,32,31
    --c-two: 4,139,194
    --bg-r: 200, 200, 200
    --text: 255, 255, 255
:root.dark
        --bg: 200, 200, 200
        --bg-r: 33,32,31
        --text: 33,32,31
.breackpoint
    position: absolute
    color: #a00
    background: #aa0
    border: 1px solid #a00
    border-radius: 50%
    padding: 10px
    font-size: 1.6rem
    opacity: 0.3
    transition: 0.1s ease
    &:hover
        opacity: 1
    &__xxs
        display: none
        @include xxl
            display: none
        @include xl
            display: none
        @include lg
            display: none
        @include md
            display: none
        @include sm
            display: none
        @include xs
            display: none 
        @include xxs
            display: block 
    &__xs
        display: none
        @include xxl
            display: none
        @include xl
            display: none
        @include lg
            display: none
        @include md
            display: none
        @include sm
            display: none
        @include xs
            display: block 
        @include xxs
            display: none 
    &__sm
        @include xxl
            display: none
        @include xl
            display: none
        @include lg
            display: none
        @include md
            display: none
        @include sm
            display: block
        @include xs
            display: none
        @include xxs
            display: none 
    &__md
        @include xxl
            display: none
        @include xl
            display: none
        @include lg
            display: none
        @include md
            display: block
        @include sm
            display: none
        @include xs
            display: none
        @include xxs
            display: none 
    &__lg
        @include xxl
            display: none
        @include xl
            display: none
        @include lg
            display: block
        @include md
            display: none
        @include sm
            display: none
        @include xs
            display: none 
        @include xxs
            display: none 
    &__xl
        @include xxl
            display: none
        @include xl
            display: block
        @include lg
            display: none
        @include md
            display: none
        @include sm
            display: none
        @include xs
            display: none
        @include xxs
            display: none 
    &__xxl
        @include xxl
            display: block
        @include xl
            display: none
        @include lg
            display: none
        @include md
            display: none
        @include sm
            display: none
        @include xs
            display: none
        @include xxs
            display: none  
html
    font-size: 10px
    @include md
        font-size: 16px
body
    font-family: 'Tektur', cursive

    &::-webkit-scrollbar 
        width: 5px               

    &::-webkit-scrollbar-track // дорожка
        background: rgba(var(--bg-r), .2)

    &::-webkit-scrollbar-thumb // полоска
        background-color: rgba(var(--bg-r), 1)   
        border-radius: 20px      
        border: 3px solid transparent 



    color: rgb(var(--text))
    background: rgb(var(--bg)) 

    transition: background 1s ease, color  1s ease
.content
    margin: 0 auto
    @include xxl
        width: 1300px
    @include xl
        width: 1100px
    @include lg
        width: 980px
    @include md
        width: 720px
.header
    &__nav
        // @include xxl
        //     display: block
        // @include xl
        //     display: block
        // @include lg
        //     display: block
        // @include md
        //     display: none
        // @include sm
        //     display: none
        // @include xs
        //     display: none
        // @include xxs
        //     display: none
    &__top
        background: rgb(var(--bg))
        color: rgb(var(--text))
        border-bottom: 1px solid rgb(var(--bg-r))
        height: 50px
        &__wrap
            display: flex
            height: 100%
            align-items: center
            justify-content: space-between
            & .logo__wrap
                box-sizing: border-box
                padding: 0 1%
                width: 45%
                & h1
                    margin: 0
                    font-size: 2rem
            
            & nav
                width: 45%

                & button
                    font-size: 1.4rem 
                & ul
                    display: flex
                    align-items: center
                    justify-content: center
                    & li
                        padding: 0 1%
                        & a
                            text-align: center
                            color: rgb(var(--text))
                            transition: 0.1s ease
                            font-size: 1.4rem
                            &:hover
                               color: rgba(var(--text), .8) 
                               text-shadow: 0 0 1px rgb(var(--text))
                @include md  
                    position: fixed
                    bottom: 0
                    left: 0
                    width: 100%
                    background: rgb(var(--text))
                    height: 100px
                    & ul 
                        justify-content: space-around
                        height: 100%
                        & li a
                            font-size: 1rem
                            color: rgb(var(--bg))
                    & .sun
                        background: radial-gradient(circle, rgba(0, 0, 0, 0), rgb(var(--text)) 50%, rgb(var(--bg)) 50%)
                        &::before
                            background: radial-gradient(circle, rgb(var(--bg)) 30%, rgb(var(--text)) 31%, rgba(0, 0, 0, 0) 50%, rgb(var(--bg)) 50%)
                    & .moon
                        background-color: rgb(var(--text))
                        box-shadow: 6px 3px 0px 0px rgb(var(--bg))
                    & .star
                        border-bottom: 5px solid rgb(var(--bg))
                        &::before
                            border-bottom: 5px solid  rgb(var(--bg))
                        &::after
                            border-bottom: 5px solid rgb(var(--bg))
    &__bottom
        display: flex
        font-size: 2rem
        & .title
            font-size: 2.5rem
            &__sub

        & .price
            font-size: 1.5rem
            color: rgba(var(--text), .5)
.avatar
    height: 100%

    &__wrap
        height: 100px

.darkMode
    width: 30px
    height: 30px
    box-sizing: border-box
    padding: 12px
    background: none
    border: none
    display: flex
    justify-content: center
    align-items: center
    position: relative


.sun 
    width: 50%
    height: 50%
    position: absolute
    pointer-events: none
    opacity: 0
    transform: scale(0.6) rotate(0deg)
    transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s

    /*  white transparent for Safari  */
    background: radial-gradient(circle, rgba(0, 0, 0, 0), rgb(var(--bg)) 50%, rgb(var(--text)) 50%)


    &:before 
        content: ""
        position: absolute
        display: block
        width: 100%
        height: 100%
        background: radial-gradient(circle, rgb(var(--text)) 30%, rgb(var(--bg)) 31%, rgba(0, 0, 0, 0) 50%, rgb(var(--text)) 50%)
        transform: rotate(45deg)


    &.visible
        pointer-events: auto
        opacity: 1
        transform: scale(1) rotate(180deg)
        transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s


.moon
    width: 50%
    height: 50%
    pointer-events: none
    position: absolute
    left: 0%
    top: 18.75%
    background-color: rgb(var(--bg))
    border-radius: 50%
    box-shadow: 6px 3px 0px 0px rgb(var(--text))
    opacity: 0
    transform: scale(0.3) rotate(65deg)
    transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s


    &.visible
        pointer-events: auto
        opacity: 1
        transform: scale(1) rotate(0deg)
        transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s
        & .star
            opacity: 0.8
        & .star.small
            opacity: 0.7
            transform: scale(0.45) rotate(35deg)

.star
    position: absolute
    top: 0%
    left: -15%
    display: block
    width: 0px
    height: 0px
    border-right: 7px solid rgba(0, 0, 0, 0)
    border-bottom: 5px solid rgb(var(--text))
    border-left: 7px solid rgba(0, 0, 0, 0)
    transform: scale(0.55) rotate(35deg)
    opacity: 0
    transition: all 0.2s ease-in 0.4s
    &.small 
        transform: scale(0.35) rotate(35deg)
        position: relative
        top: 40%
        left: 15%
        opacity: 0
        transition: all 0.2s ease-in 0.45s

    &:before
        border-bottom: 5px solid  rgb(var(--text))
        border-left: 3px solid rgba(0,0,0,0)
        border-right: 3px solid rgba(0,0,0,0)
        position: absolute
        height: 0
        width: 0
        top: -3px
        left: -5px
        display: block
        content: ""
        transform: rotate(-35deg)
    &:after
        position: absolute
        display: block
        color: red
        top: 0px
        left: -7px
        width: 0px
        height: 0px
        border-right: 7px solid rgba(0,0,0,0)
        border-bottom: 5px solid rgb(var(--text))
        border-left: 7px solid  rgba(0,0,0,0)
        transform: rotate(-70deg)
        content: ""


.main
    display: flex
    flex-wrap: wrap
    justify-content: space-around
section
    font-size: 1.4rem
    box-sizing: border-box
    display: block
    background: rgba(var(--bg), 1)
    border: 1px solid rgba(var(--text), .6)
    border-radius: 5px
    padding: 1% 4%
    margin: 5px 0
    width: 48%
    min-height: 100px 
    box-shadow: 7px -7px 14px rgba(var(--bg), 1), -7px 7px 14px rgba(var(--text), .3)
    transition: 0.2s ease
    @include xxl
        width: 48%
    @include xl
        width: 48%
    @include lg
        width: 48%
    @include md
        width: 96%
    @include sm
        width: 96%
    @include xs
        width: 96%
    @include xxs
        width: 96%
    &:hover
        box-shadow: 8px -8px 14px rgba(var(--bg), 1), -8px 8px 14px rgba(var(--text), .3)
    & .title
        font-size: 2rem
        padding: 0 0 5px 3% 
        border-bottom: 2px solid rgb(var(--c-two))
        font-family: Tektur
        margin-bottom: 1rem
.skills
    width: 100%
    & h4
        font-size: 1.4rem
        text-transform: uppercase
    & .line
        border: 1px solid rgba(var(--text), .7)
        height: 10px
        border-radius: 5px
        overflow: hidden
        &__progress
            background: rgba(var(--c-two), .7)
            height: 100%
            width: 5%
    & i
        text-align: center
        color: rgb(var(--bg))
        background: rgb(var(--text))
        padding: 2px
        box-sizing: border-box
        display: inline-block
        width: 2.4rem
        height: 2.4rem
        line-height: 2rem
        border-radius: 50%
.portfolio
    font-family: "Roboto", sans-serif
    width: 98%
    &__wrap
        display: flex
        flex-wrap: wrap
.card
    width: 31%
    padding: 5px
    box-sizing: border-box
    margin: 0 1% 2%
    border: 1px solid rgb(var(--text))
    border-radius: 5px
    overflow: hidden
    &__img
        height: 100%
        width: 100%
        &__wrap
            background: rgb(var(--bg-r))
            border: 1px solid rgb(var(--text))
            border-radius: 3px
            overflow: hidden
            height: 190px
            width: 100%
            object-fit: cover
    &__link
        display: inline-block
        color: rgb(var(--text))
        background: rgb(var(--c-two))
        padding: 1px 5px
        border: 1px solid rgb(var(--text))
        border-radius: 3px
        margin: 5px 0
    @include xxl
        width: 31%
    @include xl
        width: 31%
    @include lg
        width: 31%
    @include md
        width: 48%
    @include sm
        width: 48%
    @include xs
        width: 98%
        &__img__wrap
            height: 300px
    
.about
    font-family: "Roboto", sans-serif
.contacts
    font-family: "Roboto", sans-serif
    width: 100%
    & li
        margin: 5px 0
        width: 100%
        & > button
            display: none
            transition: 0.1s ease
            background: transparent
        & a
            color: rgb(var(--text))
            transition: 0.1s ease
            & > i
                margin-right: 5px
        &:hover
            color: rgba(var(--text), .7)
            & > button
                display: inline-block
    & i
        text-align: center
        color: rgb(var(--bg))
        background: rgb(var(--text))
        padding: 2px
        box-sizing: border-box
        display: inline-block
        width: 2.4rem
        height: 2.4rem
        line-height: 2rem
        border-radius: 50%

.education
    font-family: "Roboto", sans-serif
    &__item
        margin-top: 1%
        // border: 1px solid #a00
    &__title
        border-bottom: 1px solid rgb(var(--c-two))
        padding: 0
        margin: 0
    &__context
        padding: 1%
        display: flex 
        justify-content: space-between
    &__text
        width: 70%
        box-sizing: border-box
    &__document
        width: 30%
.section__wrap
    box-sizing: border-box
    width: 48%
    margin: 0
    padding: 1px
    transition: 0.2s ease
    @include xxl
        width: 48%
    @include xl
        width: 48%
    @include lg
        width: 48%
    @include md
        width: 96%
    @include sm
        width: 96%
    @include xs
        width: 96%
    @include xxs
        width: 96%



