@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');
@import "mixin.scss";
:root{
     --black: #21201F;
    --d-gray: #383838;
      --gray: #5F605D;
    --l-gray: #727271;

    --d-blue1: #21201F; // #2A698F
    --d-blue2:#336A8A; // 
       --blue:#62B6CB;
    --l-blue1:#999; //#B5DFF8
    --l-blue2:#eee; //BBE3F8

    --d-yellow1:#E0B339;
    --d-yellow2:#D8B249;
       --yellow:#FFD76B;
    --l-yellow1:#FFEDBC;
    --l-yellow2:#FFEBB6;

    --d-orange1:#ff3c00; // #E06139;
    --d-orange2:#e44800;// #D86B49;
       --orange:#FF8F6B;
    --l-orange1:#FFC8B6;
    --l-orange2:#FFCCBC;   
    
}
html{
    font-size: 10px;
    height: 100%;
    @include xs{
        font-size: 8px;
    }
    @include xxs{
        font-size: 6px;
    }
    
}
body{
    background: var(--l-blue1);
    color: #fff;
    font-family: 'Tektur', cursive;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.header{
    &__top{
        min-height: 100px;
        position: relative;

        &__background{
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: linear-gradient(200deg, transparent 0%, var(--black) 100%), url(../images/fon.jpg) center center/cover no-repeat;
            filter: grayscale(100%) invert(10%) brightness(50%);
        }
        & .img__wrap{
            text-align: center;
            & img{
                box-shadow: 0 0 10px var(--black), 0 0 10px var(--black), 0 0 10px var(--black);
                margin: 10px 0;
                width: 300px;
                height: auto;
                background: linear-gradient(110deg, var(--d-orange2) 0%, var(--d-blue1) 100%);
                border-radius: 50%;
                border: 2px solid var(--d-orange1);
            }    
        }
        & p{
            font-size: 2rem;
        }
        & h1{
            font-size: 4rem;
            display: inline-block;
            text-shadow: 0px 0px 2px var(--black);
        }
    }
    &__nav{
        & .bar{
            color: #fff;
            font-size: 1.6rem;
        }
    }
    &__center{
        display: flex;
        align-items: center;
        background: var(--d-blue1);
        min-height: 35px;
        &__container{
            height: 100%;
        }
        & a{
            font-size: 1.6rem;
        }
    }
}
.link{
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
    &:hover{
        color: #fff;
        transition: all 0.3s;
    }
}
.main{
    flex-grow: 1;
    color: #000;
    font-size: 1.6rem;
    &__row{
        margin: 0 0 60px;
        & h3{
            margin-bottom: 10px;
            padding: 10px 0;
            border-bottom: 1px solid var(--d-orange2);
        }
    }
    &__rigth{
        padding: 20px;
        color: #fff;
        border-left: 3px solid var(--d-orange2);
        background: var(--d-blue1);
        // box-shadow: 13px 0px 10px 2px var(--d-orange1);
        
    }
    &__left{
        margin-top: 60px;
        & .text{
            width: 93%;
        }
    }
    &__programming-language{
        & > ul{
            & > li{
                padding-top: 40px;
                &:first-child{
                    padding-top: 10px;
                }
                & h4{
                    color: var(--orange);
                    padding-bottom:5px;
                    border-bottom: 1px solid var(--orange);
                } 
            }    
        }    
    } 

    &__head{
        & .title{
            margin: 0;
            color: #fff;
            background-color: var(--d-orange2);
            font-size: clamp(0.1rem, 100%, 2rem);
            text-align: center;
        }
        & .line{
            margin: 0;
            height: 1px;
            width: 100%;
            background-color: var(--d-orange2);
        }
        & .icon{
            padding: 0;
            margin: 0;
            font-size: 2rem;
            & i{
                color: #fff;
                background-color: var(--d-orange2);
                height: 4rem;
                width: 4rem;
                padding: 1rem;
                border-radius: 50%;
                text-align: center;
            }
            
        }
    }
}
.footer{
    overflow-x: hidden;
    height: 100px;
    background: var(--d-blue1);
    display: flex;
    align-items: center;
    padding-top: 4px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0px;
        left: 0;
        width: 100px;
        height: 4px;
        border-radius: 0 2px 2px 0;
        background: linear-gradient(to right, transparent 0%, var(--d-orange2) 100%);
        animation: 10s linear runline infinite;
        z-index: 1;
    }
    @keyframes runline {
        0%,25%{
            left: -100%;
        }
        50%,75%{
            left: 200%; 
        }
        100%{
            background: linear-gradient(to left, transparent 0%, var(--d-orange2) 100%);
            left: -100%;
        }
    }

    &__logo{
        padding: 10px;
        color: #fff;
        border-radius: 50%;
        font-weight: bold;
        display: inline-block;
        font-size: 2rem;
        border: 2px solid var(--orange);
        background: linear-gradient(110deg, var(--d-orange2) 0%, var(--d-blue1) 100%);
    }
    &__address{
        text-align: end;
        & li{
            display: inline-block;
            margin: 0 5px;
        }
        & a{
            font-size: 1.6rem;
        }
        
    }
}
.navbar{
    padding: 0;
}
.nav{
    font-size: 1.6rem;
    border: none;
    // @include xs{
    //     font-size: 1.2rem;
    // }
    &-tabs{
        height: 100%;
        & .nav-link{
            color: rgba($color: #fff, $alpha: .5);
            border-radius: 5px;
            &.active{
                background-color: var(--d-orange2);
                color: #fff;
                border: none;
                transform: scale(1.1);
                &:hover{
                    color: #fff;
                }
            }
            &:focus,
            &.show,
            &:hover{
                border-color: transparent;
                color: #fff;
            }
        }    
    }
    
}
.dark{
    box-sizing: border-box;
    padding: 0 10px 0 0;
    height: 25px;
    width: 50px;
    & .slider {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        transition: 0.3s;
        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 25px;
            height: 100%;
            border-radius: 50%;
            box-shadow: inset 10px -5px 0px -2px #fff;
            background-color:var(--l-blue1);
            transition: 0.5s;
        }
    }
    &__wrap{
        position: relative;
        width: 50px;
        height: 100%;
        background-color: var(--l-blue1);
        border-radius: 25px;
        cursor: pointer; 
    }  
    & input {
        position: absolute;
        display: none;
        &:checked ~ .slider::before {
            transform: translateX(25px);
            background-color: #fff;
            box-shadow: none;
        }
    }
}
.fa-bicycle::before{
    margin-left: -2px;
}
.item{
    padding: 4px;
    margin-bottom: 5px;
    font-size: 1.6rem;
    border-radius: 5px 0 0 5px;
    background: linear-gradient(340deg, transparent 40%, var(--l-orange1) 150%);
    &__title{
       font-weight: bold;
    }
    &__content{
        padding-left: 10px;
        & p{
            margin: 0;
        }
        & span{
            font-weight: 500;
            font-size: 1.2rem;
            color: var(--d-gray);
        }

    }
    
}
.breackpoint{
    position: fixed;
    opacity: 0.3;
    width: 40px;
    height: 40px;
    & div{
        width: 100%;
        height: 100%;
        line-height: 25px;
        background:#ccc;
        color:#a00;
        padding: 5px;
        border-radius: 50%;
        font-size: 20px;
        text-align:center;
    }
}
.btn{
    border: none;
    padding: 0;
    overflow: hidden;
    box-shadow:  5px -5px 10px #888888 ,-5px 5px 10px #aaaaaa;
    transition: 0.5s ease;
    &:hover{
        border: none;
        transform: scale(1.01);
        box-shadow:  7px -7px 14px #636363 ,-7px 7px 14px #cfcfcf;
    }
    &-close{
        position: absolute; 
        z-index: 2; 
        top: 10px; 
        right: 10px;
    }
}

    