@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800;900&display=swap');
:root{
     --black: #21201F;
    --d-gray: #383838;
      --gray: #5F605D;
    --l-gray: #727271;

    --d-blue1:#2A698F;
    --d-blue2:#336A8A;
       --blue:#62B6CB;
    --l-blue1:#B5DFF8;
    --l-blue2:#BBE3F8;

    --d-yellow1:#E0B339;
    --d-yellow2:#D8B249;
       --yellow:#FFD76B;
    --l-yellow1:#FFEDBC;
    --l-yellow2:#FFEBB6;

    --d-orange1:#E06139;
    --d-orange2:#D86B49;
       --orange:#FF8F6B;
    --l-orange1:#FFC8B6;
    --l-orange2:#FFCCBC;   
    
}
html{
    font-size: 10px;
    height: 100%;
}
body{
    background: var(--l-blue1);
    color: #fff;
    font-family: 'Tektur', cursive;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.header{
    
    &__top{
        
        min-height: 100px;
        background: linear-gradient(200deg, transparent 0%, var(--black) 100%), url(../images/fon.jpg) center center/cover no-repeat;
        & .img__wrap{
            text-align: center;
            & img{
                box-shadow: 0 0 10px var(--black), 0 0 10px var(--black), 0 0 10px var(--black);
                margin: 10px 0;
                width: 300px;
                height: auto;
                background: linear-gradient(110deg, var(--l-orange1) 0%, var(--l-blue1) 100%);
                border-radius: 50%;
                border: 2px solid var(--orange);
            }    
        }
        & p{
            font-size: 2rem;
        }
        & h1{
            font-size: 4rem;
            display: inline-block;
            text-shadow: 0px 0px 2px var(--black);
        }
    }
    &__center{
        background: var(--d-blue1);
        & a{
            font-size: 1.6rem;
        }
    }
}
.main{
    flex-grow: 1;
    color: #000;
    font-size: 1.6rem;
}
.footer{
    height: 100px;
    background: var(--d-blue1);
    display: flex;
    align-items: center;
    &__logo{
        padding: 10px;
        color: var(--black);
        border-radius: 50%;
        font-weight: bold;
        display: inline-block;
        font-size: 2rem;
        border: 2px solid var(--orange);
        background: linear-gradient(110deg, var(--l-orange1) 0%, var(--l-blue1) 100%);
    }
    &__address{
        text-align: end;
        & a{
            color: #fff;  
            font-size: 1.6rem;
        }
        
    }
}
.nav{
    font-size: 1.6rem;
    border: none;
    &-tabs{
        height: 100%;
        & .nav-link{
            color: rgba($color: #fff, $alpha: .5);
            border-radius: 5px;
            &.active{
                background-color: var(--d-orange2);
                color: #fff;
                border: none;
                transform: scale(1.1);
                &:hover{
                    color: #fff;
                }
            }
            &:hover,
            &:focus{
                border-color: transparent;
                color: rgba($color: #fff, $alpha: .8);
            }
            
        }    
    }
    
}